{{- define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    <div class="page single special">
        {{- /* Title */ -}}
        <h1 class="single-title animated pulse faster">
            {{- .Title -}}
        </h1>

        {{- /* Content */ -}}
        <div class="content" id="content">
            {{- replace (partial "single/content.html" .Content) "<!--adsense-->" (partial "ads-adsense-inarticle.html" .) | safeHTML -}}
        </div>
    </div>
{{- end -}}
